{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Live Monitoring Website Test</h1>
    <!-- id attribute as a unique label for an HTML element. This label allows you to easily select and manipulate that specific element using JavaScript or jQuery -->
    <p class="lead" id="dynamic-text">Loading...</p> <!-- Dynamic text integrated here -->
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

<!-- Dynamic Text Section -->
<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>const messages = [
            "Hello, Max!",
            "Testing dynamic text",
            "Welcome to the website prototype!",
            "Have a great day!",
        ];

        // Function to update the dynamic text
        function updateDynamicText() {
            const randomIndex = Math.floor(Math.random() * messages.length);
            $('#dynamic-text').text(messages[randomIndex]);  // Update the text with a random message
        }
                
//If the function is embedded in the main code, UpdateDynamicText() will execute immediately, and the return value of that function will be passed to setInterval.
//The function will only run once right away, not repeatedly at the specified interval, as setInterval expects a function reference, not the result of a function call.
        // Update the dynamic text every second
        setInterval(updateDynamicText, 1000);</script>
</body>


{% endblock %}
